{% extends 'layout.html' %}
{% load humanize %}

{% block content %}
{{ name }}
<div class="card text-bg-danger bg-gradient">
    <div class="card-header">
        <h3 class="card-title">Silme Onayı</h3>
    </div>
    <div class="card-body">
        <div class="alert alert-danger d-flex flex-column justify-content-center align-items-center" role="alert">
            <svg class="img-fluid bi flex-shrink-0 me-2" role="img" aria-label="Danger:">
                <use xlink:href="#exclamation-triangle-fill" />
            </svg>
            <div class="mt-4">
                {{ category.name }} isimli kaydı silmek istediğinize emin misiniz?
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col"></div>
            <div class="col-auto">
                <form action="{% url 'category_delete' category.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-danger mt-4" type="submit">
                        <i class="fa-solid fa-trash fa-2xl"></i><br>Sil
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}