{% extends 'layout.html' %}
{% load humanize %}

{% block content %}

{{ name }}
{% load crispy_forms_tags %}

{% if categories %}
<div class="row mt-3">
    {% for category in categories %}
    <div class="col-md-2 mt-3">
        <div class="card text-bg-primary bg-gradient" style="max-width: 18rem;">
            <div class="card-header">
                <h5 class="card-title">
                    <i class="fa-solid fa-list"></i>
                    {{category.name}}
                </h5>
            </div>
            <div class="card-body">
                <h6 class="card-text">
                    {% if category.process_count > 0 %}
                    {{ category.process_count }} İş Akışı
                    {% else %}
                    İş Akışı Yok
                    {% endif %}
                </h6>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Yeni Kategori</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'category' %}" method="POST">
                    {% csrf_token %}
                    {{category_form|crispy}}
                    <button class="btn btn-dark my-4" type="submit">Ekle</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">İptal</button>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fa-solid fa-list"></i>
                    Kategoriler
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Yeni Ekle
                    </button>
                </h3>
            </div>
            <div class="card-body">
                {% if categories %}
                <table id="category" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Kategori Adı</th>
                            <th scope="col">Kategori Açıklaması</th>
                            <th scope="col">Oluşturulma Tarihi</th>
                            <th scope="col">Düzenleyen</th>
                            <th scope="col">İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category in categories %}
                        <tr>
                            <th scope="row">{{ category.id }}</th>
                            <td>{{ category.name }}</td>
                            <td>{{ category.description }}</td>
                            <td>{{ category.created_date }} | {{ category.created_date | timesince}} önce</td>
                            <td>{{ category.user }}</td>
                            <td>
                                <a class="btn btn-success bg-gradient" href="{% url 'category_update' category.id %}">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                    Düzenle
                                </a>
                                <a class="btn btn-danger bg-gradient" href="{% url 'category_delete' category.id %}">
                                    <i class="fa-solid fa-trash"></i>
                                    Sil
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div class="alert alert-warning">
                    <p>Kategori bulunamadı.</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#category').DataTable({
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.12.1/i18n/tr.json'
            }
        });
    });
</script>

{% endblock %}