{% extends 'layout.html' %}
{% load humanize %}

{% block content %}

{{ name }}
{% load crispy_forms_tags %}
<div class="row">
    <div class="accordion accordion-flush" id="accordionFlush">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Yeni Ekle
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlush">
                <div class="accordion-body">
                    <form action="{% url 'category' %}" method="POST">
                        {% csrf_token %}
                        {{category_form|crispy}}
                        <button class="btn btn-dark my-4" type="submit">Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        {% if categories %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Kategori Adı</th>
                    <th scope="col">Kategori Açıklaması</th>
                    <th scope="col">Oluşturulma Tarihi</th>
                    <th scope="col">Düzenleyen</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                <tr>
                    <th scope="row">{{ category.id }}</th>
                    <td><a class="btn btn-dark" href="{% url 'category_detail' category.id %}">{{ category.name }}</a></td>
                    <td>{{ category.description }}</td>
                    <td>{{ category.created_date }} | {{ category.created_date | timesince}} önce</td>
                    <td>{{ category.user }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% else %}
        <div class="alert alert-warning">
            <p>Kategori bulunamadı.</p>
        </div>
        {% endif %}
    </div>
</div>


{% endblock %}