{% extends 'layout.html' %}
{% load humanize %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">
                <h3>Kategoriler</h3>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ category_count }} Adet.</h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">
                <h3>İş Akışları</h3>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ process_count }} Adet.</h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-bg-success mb-3" style="max-width: 18rem;">
            <div class="card-header">
                <h3>Aktiviteler</h3>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ activity_count }} Adet.</h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-bg-danger mb-3" style="max-width: 18rem;">
            <div class="card-header">
                <h3>Görevler</h3>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ task_count }} Adet.</h5>
            </div>
        </div>
    </div>
</div>

{% endblock %}