{% extends 'layout.html' %}
{% load humanize %}

{% block content %}
{{ name }}
{% load crispy_forms_tags %}

<div class="modal fade" id="processModal" tabindex="-1" aria-labelledby="processModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="processModalLabel">Yeni İş Akışı</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'process' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{process_form|crispy}}
                    <button class="btn btn-dark my-4" type="submit">Ekle</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">İptal</button>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 id="title" class="card-title">
                    <i class="fa-solid fa-business-time"></i>
                    İş Akışları
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#processModal">
                        <i class="fa-regular fa-file"></i>
                        Yeni
                    </button>
                    <div class="float-end">
                        <button class="btn btn-sm" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseProcess" aria-expanded="false" aria-controls="collapseProcess">
                            <i class="fa-solid fa-minus"></i>
                        </button>
                    </div>
                </h3>
            </div>
            <div class="collapse show" id="collapseProcess">
                <div class="card-body">
                    {% if processes %}
                    <table id="process" class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Kategori</th>
                                <th scope="col">İş Adı</th>
                                <th scope="col">İş Açıklaması</th>
                                <th scope="col">İş Durumu</th>
                                <th scope="col">Oluşturulma Tarihi</th>
                                <th scope="col">Düzenleyen</th>
                                <th scope="col">İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for process in processes %}
                            <tr class="bg-gradient" style="background-color: {{ process.state.color }}">
                                <th scope="row">{{ process.id }}</th>
                                <td>{{ process.category }}</td>
                                <td>{{ process.name }}</td>
                                <td>{{ process.description | safe }}</td>
                                <td>
                                    {% if process.state is not None %}
                                    {{ process.state }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                                <td>{{ process.created_date }} | {{ process.created_date | timesince}} önce</td>
                                <td>{{ process.user }}</td>
                                <td>
                                    <a href="{% url 'process_detail' process.id %}" class="btn btn-dark bg-gradient"
                                        data-bs-toggle="popover" data-bs-trigger="hover" data-bs-title="Detaylar"
                                        data-bs-content="Seçili satırdaki kaydın detaylarını görüntüler.">
                                        <i class="fa-solid fa-circle-info"></i>
                                    </a>
                                    <a class="btn btn-success bg-gradient" href="{% url 'process_update' process.id %}"
                                        data-bs-toggle="popover" data-bs-trigger="hover" data-bs-title="Düzenle"
                                        data-bs-content="Seçili satırdaki kaydı düzenler.">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                    <a class="btn btn-danger bg-gradient" href="{% url 'process_delete' process.id %}"
                                        data-bs-toggle="popover" data-bs-trigger="hover" data-bs-title="Sil"
                                        data-bs-content="Seçili satırdaki kaydı siler.">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <div class="alert alert-warning">
                        <p>İş Akışı bulunamadı.</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}