{% extends 'layout.html' %}
{% load humanize %}

{% block content %}
{{ name }}
{% load crispy_forms_tags %}
<div class="row">
    <div class="accordion accordion-flush" id="accordionFlush">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    <div class="btn btn-warning">
                        Yeni Ekle
                    </div>
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlush">
                <div class="accordion-body">
                    <form action="{% url 'task' %}" method="POST">
                        {% csrf_token %}
                        {{task_form|crispy}}
                        <button class="btn btn-dark my-4" type="submit">Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        {% if tasks %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">İş Adı</th>
                    <th scope="col">Görev Adı</th>
                    <th scope="col">Görev Açıklaması</th>
                    <th scope="col">Görev Durumu</th>
                    <th scope="col">Oluşturulma Tarihi</th>
                    <th scope="col">Atanan Personel</th>
                    <th scope="col">Düzenleyen</th>
                    <th scope="col">İşlemler</th>

                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <th scope="row">{{ task.id }}</th>
                    <td>{{ task.process }}</td>
                    <td>{{ task.name }}</td>
                    <td>{{ task.description }}</td>
                    <td>
                        {% if task.state is not None %}
                        {{task.state}}
                        {% else %}
                        -
                        {% endif %}
                    </td>
                    <td>{{ task.created_date }} | {{ task.created_date | timesince}} önce</td>
                    <td>
                        {% if task.assigned_user is not None%}
                        {{ task.assigned_user }}
                        {% else %}
                        Atanmamış
                        {% endif %}
                    </td>
                    <td>{{ task.user }}</td>
                    <td>
                        <a class="btn btn-success" href="{% url 'task_detail' task.id %}">
                            <i class="fa-solid fa-pen-to-square"></i>
                            Düzenle
                        </a>
                        <a href="{% url 'task_delete' task.id %}" class="btn btn-danger">
                            <i class="fa-solid fa-trash"></i>
                            Sil
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% else %}
        <div class="alert alert-warning">
            <p>Görev bulunamadı.</p>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}