<!doctype html>
<html lang="tr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>JeFlow</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">
          <h1>JeFlow</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Anasayfa</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'category' %}">Kategoriler</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'process' %}">İş Akışları</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'activity' %}">Aktiviteler</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'task' %}">Görevler</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:{document.getElementById('logout').submit()}">Çıkış</a>
              <form id="logout" action="{% url 'logout' %}" method="POST">
                {% csrf_token %}
                <input type="hidden">
              </form>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">{{ user }}</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">Kayıt Ol</a>
            </li>
            {% endif %}
          </ul>
          
        </div>

      </div>
    </nav>
  </header>
  <main>

    <div class="container mt-4">
      {% include 'partials/_alert.html' %}
      {% block content %}
      {% endblock %}
    </div>
  </main>
  <footer></footer>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
    integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
    crossorigin="anonymous"></script>
</body>

</html>