{% load static %}
<!doctype html>
<html lang="tr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>JeFlow</title>
  <link rel="stylesheet" href="{% static 'css/jeflow.css' %}">

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <!-- Fontawesome -->
  <script src="https://kit.fontawesome.com/14d64e4005.js" crossorigin="anonymous"></script>
  <!-- jQuery -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>

  <!-- Select2 -->
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

  <!-- Data Tables -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
  <link rel="stylesheet" type="text/css"
    href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.bootstrap5.min.css">
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.bootstrap5.min.js"></script>
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
  <script type="text/javascript" charset="utf8"
    src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script type="text/javascript" charset="utf8"
    src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
  <script type="text/javascript" charset="utf8"
    src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
</head>

<body>
  <div class="preloader d-flex justify-content-center align-items-center">
    <img class="img-fluid shake" src="{% static 'img/logo.png' %}" alt="JeFlow">
  </div>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">
          <img class="logo" src="{% static 'img/logo-text.png' %}" alt="JeFlow">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Anasayfa</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'category' %}">Kategoriler</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'process' %}">İş Akışları</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'activity' %}">Aktiviteler</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'task' %}">Görevler</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:{document.getElementById('logout').submit()}">Çıkış</a>
              <form id="logout" action="{% url 'logout' %}" method="POST">
                {% csrf_token %}
                <input type="hidden">
              </form>
            </li>
            <li class="nav-item">
              <a href="{% url 'settings' %}" class="nav-link">Ayarlar</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">{{ user }}</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">Kayıt Ol</a>
            </li>
            {% endif %}
          </ul>
        </div>

      </div>
    </nav>
  </header>
  <main>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="check-circle-fill" viewBox="0 0 16 16">
        <path
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
      </symbol>
      <symbol id="info-fill" viewBox="0 0 16 16">
        <path
          d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
      </symbol>
      <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
        <path
          d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
      </symbol>
    </svg>
    <div class="container mt-4">
      <div class="row mb-3">
        <div class="col-md-12">
          <div class="card border-0 text-center text-bg-light bg-gradient">
            <div class="card-body">
              <h4 id="date-part" class="card-title"></h4>
              <h5 id="time-part" class="card-title"></h5>
            </div>
          </div>
        </div>
      </div>
      {% include 'partials/_alert.html' %}
      {% block content %}
      {% endblock %}
    </div>
  </main>
  <footer class="mt-5">
    <strong>Copyright &copy; 2022 <a href="http://jeflow.herokuapp.com">JeFlow</a>.</strong>
    Tüm hakları saklıdır.
  </footer>


  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
    integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
    crossorigin="anonymous"></script>
  <script src="https://momentjs.com/downloads/moment-with-locales.js"></script>
  <script src="{% static 'js/jeflow.js' %}"></script>
  <script>
    setTimeout(function () {
      $('.preloader').css('height', 0);
      setTimeout(function () {
        $('.preloader').children().hide();
      }, 200);
    }, 500);
    $(document).ready(function () {

      $('select').select2({
        placeholder: '---------',
        width: '100%',
        dropdownParent: $('.modal .modal-content')
      });

      var interval = setInterval(function () {

        var momentNow = moment();
        momentNow.locale('tr');
        $('#date-part').html(momentNow.format('DD MMMM YYYY'));
        $('#time-part').html(momentNow.format('HH:mm:ss'));
      }, 100);
    });
  </script>

</body>

</html>